/.gradle
/.idea
/.settings
/artifacts
/build
/captures
/gradle
/local.properties
/*.iml
/*/.gradle
/*/.idea
/*/.settings
/*/artifacts
/*/build
/*/captures
/*/gradle
/*/local.properties
/*/*.iml
/*/.externalNativeBuild
/*/.cxx

# MacOS Finder files
.DS_Store